.site-content
  .background(style="background:url('{{bgImg}}') center center/cover no-repeat")
  .module-index
    h1.index-title Hello, the wonderful world!
    p.lead
      | {{words}}！
    p.lead
      a.btn.btn-default.btn-main(ui-sref="aboutme" translate="ABOUT ME") 