
<div class="movie-info col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
  <button class="close" type="button" aria-label="Close"><span aria-hidden="true"> </span></button>
  <div class="row">
    <div class="col-md-8 col-lg-8 col-sm-6 col-xs-12">
      <div class="movie-info-img"><img ng-src="{{movie.detail.images.large}}"/></div>
      <div class="movie-info-text">
        <h3 alt="{{movie.detail.original_title}}">{{movie.detail.title}} <span>[{{movie.detail.year}}]</span><a href="{{movie.detail.alt}}" target="_blank"><i class="glyphicon glyphicon-link"></i></a></h3>
        <div class="movie-main-info">
           导演：<a ng-repeat="director in movie.detail.directors" href="{{director.alt}}" target="_blank">{{director.name}} </a></div>
        <div class="movie-main-info">
          <div>主演：<a ng-repeat="cast in movie.detail.casts" href="{{cast.alt}}" target="_blank">  {{cast.name}} </a></div>
          <div>制片国家/地区:<span ng-repeat="country in movie.detail.countries">{{country}} </span></div>
          <div>类型:<span ng-repeat="genre in movie.detail.genres">{{genre}} </span></div>
          <div>又名：<span ng-repeat="alias in movie.detail.aka">[{{alias}}]&nbsp;</span></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 movie-info-right">
      <div class="movie-rate"> 豆瓣评分</div>
      <div class="movie-rate-numb">{{movie.detail.rating.average}}</div>
      <div class="movie-rate-numb-sub">{{movie.detail.ratings_count}}人评分</div>
      <div class="movie-rate-numb-sub">{{movie.detail.wish_count}}人想看</div>
      <div class="movie-rate-numb-sub">{{movie.detail.collect_count}}人已经看过</div>
    </div>
  </div>
  <h4 class="movie-info-title">剧情简介</h4>
  <div class="movie-detail-summary">{{movie.detail.summary}}</div>
  <h4 class="movie-info-title">主要电影人</h4>
  <div class="row movie-figure-wrapper">
    <div class="movie-figure" ng-repeat="director in movie.detail.directors.slice(0,2)"><img class="movie-figure-img" ng-src="{{director.avatars.medium}}"/>
      <div class="movie-figure-info"><span>导演&nbsp;</span><span> <a href="{{director.alt}}" target="_blank">{{director.name}}</a></span></div>
    </div>
    <div class="movie-figure" ng-repeat="cast in movie.detail.casts.slice(0,4)"><img class="movie-figure-img" ng-src="{{cast.avatars.medium}}"/>
      <div class="movie-figure-info"><span>主演&nbsp;</span><span> <a href="{{cast.alt}}" target="_blank">{{cast.name}}</a></span></div>
    </div>
  </div>
</div>